.item {
  width: 500px;
  color: #955ed1;
  font-size: 20px;
  margin: 10px auto;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.itemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.itemName {
  font-weight: bold;
  cursor: pointer;
  word-break: break-word;
  color: #9b59b6;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

.line {
  border: 1px solid #09090a;
}

/* Actions container for buttons */
.actions {
  display: flex;
  gap: 10px;
}

/* Buttons */
.deleteButton,
.editButton {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s ease;
  background: none;
  border: none;
  padding: 2px;
}

.deleteButton {
  color: #e63946;
}

.editButton {
  color: #5e60ce;
}

.deleteButton:hover,
.editButton:hover {
  transform: scale(1.2);
}

/* Edit Mode */
.editWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px 0;
}

.editInput {
  flex: 1;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-left: 10px;
  color: #333;
}

.editInput:focus {
  border-color: #955ed1;
  box-shadow: 0 0 4px rgba(149, 94, 209, 0.4);
}

.saveBtn,
.cancelBtn {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #c2fbd7;
  transition: background 0.3s ease;
}

.saveBtn:hover {
  background-color: #90ee90;
}

.cancelBtn {
  background-color: #ffc2c2;
}

.cancelBtn:hover {
  background-color: #f08080;
}
